.nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.avatar{
    cursor: pointer;
    margin-left: 3vw;
}
.profile__box{
    background-color: white;
    border: 1px solid rgb(217, 216, 216);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 2rem;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 1vw;
}
.profile__box > p{
    padding: .2rem;
}
.profile__box > p > strong{
    margin-right: .3rem;
}
.nav > button{
    cursor: pointer;
    margin-right: 3vw;
    width: 7vw;
    font-size: 1.2rem;
    padding: .5rem;
    border: 1px solid rgb(113, 9, 217);
    border-radius: 5px;
    background-color: #645cff;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}
.nav > button:hover{
    transition: 0.3s ease-in-out all;
    background-color: #4f48cf;
}
.todo__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17vh auto 10vh auto;
    background-color: white;
    width: 35vw;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.todo__box > h1{
    padding: 1rem;
    padding-bottom: 1.3rem;
    font-size: 2.5rem;
}
.todo__bar{
    display: flex;
    align-items: center;
}
.todo__bar > input{
    margin-right: .1rem;
    width: 22vw;
    background-color: #f0f0f2;
    padding: 0.375rem 0.75rem;
    border-radius: 2px;
    border: 1px solid rgb(223, 221, 221);
    font-size: 1.1rem;
}
.todo__bar > input:focus{
    outline: none;
}
.todo__bar > button{
    cursor: pointer;
    width: 9vw;
    font-size: 1.2rem;
    padding: .3rem;
    border: 1px solid rgb(113, 9, 217);
    border-radius: 2px;
    background-color: #645cff;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}
.todo__bar > button:hover{
    transition: 0.3s ease-in-out all;
    background-color: #4f48cf;
}
.todo__done{
    text-decoration: line-through;
}
.updatebtn{
    margin: auto;
    cursor: pointer;
    width: 10vw;
    font-size: 1rem;
    margin-top: .5rem;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}
.updatebtn:hover{
    transition: 0.3s ease-in-out all;
    background-color: #59595a;
}
small{
    display: none;
    padding: 2rem;
    padding-bottom: 0;
    font-size: 1.2rem;
    color: rgb(8, 144, 8);
}
.todos > h1{
    text-align: center;
}
.upload__box{
    width: 60vw;
    height: 270px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(217, 216, 216);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    top: 18vh;
    left: 20%;
}
.upload__box > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload__box > div > h1{
    font-size: 2.5rem;
    padding: 1rem;
    padding-bottom: 3.5rem;
}
.upload__box > div > div{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
#upload__input{
    margin-left: 1vw;
    font-size: 1rem;
    color: #555;
    background-color: #fff;
    padding: 1vh 1.7vw;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.closebtn{
    margin: 0 0 0 57.5vw;
    cursor: pointer;
}
.clearbtn{
    cursor: pointer;
    margin-right: 3vw;
    width: 10vw;
    font-size: 1.2rem;
    padding: .5rem;
    border: 1px solid rgb(113, 9, 217);
    border-radius: 5px;
    background-color: #645cff;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}
#update__msg{
    padding-top: 7px;
}


@media screen and (max-width: 810px) {
    .nav > button{
        width: 17vw;
    }
    .todo__box{
        width: 55vw;
    }
    .todo__bar > input{
        width: 35vw;
    }
    .todo__bar > button{
        width: 15vw;
    }
    .updatebtn{
        width: 20vw;
    }
    .upload__box{
        left: 8%;
        width: 80vw;
    }
    .upload__box > div > h1{
        font-size: 2.2rem;
    }
    .clearbtn{
        width: 12vw;
    }
    .closebtn{
        margin-left: 76.5vw;
    }
}
@media screen and (max-width: 500px) {
    .nav > button{
        width: 27vw;
    }
    .todo__box{
        width: 66vw;
    }
    .todo__bar > input{
        width: 48vw;
    }
    .todo__bar > button{
        width: 22vw;
    }
    .updatebtn{
        width: 25vw;
    }
    .upload__box{
        top: 15vh;
        left: 3.5%;
        width: 85.5vw;
        height: 280px;
    }
    .upload__box > div > div{
        flex-direction: column;
    }
    .upload__box > div > h1{
        text-align: center;
        font-size: 2.1rem;
        padding-bottom: 1.5rem;
    }
    .clearbtn{
        margin-top: .5vh;
        padding: .3rem;
        width: 20vw;
    }
    .closebtn{
        margin-left: 78.5vw;
    }
}
